@model IEnumerable<DA_ASP.Models.SANPHAM>

@foreach (var item in Model)
{
    <div class="col-md-4 col-xs-6">
        <div class="product">
            <div class="product-img">
                <img src="~/images/@item.ImgSP" alt="@item.TenSP">
                <div class="product-label">
                    @*<span class="sale">-30%</span>
                    <span class="new">NEW</span>*@
                </div>
            </div>
            <div class="product-body">
                <p class="product-category">Category</p>
                <h3 class="product-name"><a href="@Url.Action("Detail","Shop", new { id = item.MaSP })">@item.TenSP</a></h3>
                <h4 class="product-price">$@item.GiaMoi <del class="product-old-price">$@item.GiaCu</del></h4>
                <div class="product-rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
            </div>
            <div class="add-to-cart">
                <a class="add-to-cart-btn" href="@Url.Action("AddGioHang","GioHang", new { iMaSP = item.MaSP, strURL = Request.Url.ToString() })"><i class="fa fa-shopping-cart"></i> add to cart</a>

            </div>
        </div>
    </div>
}
