@model IEnumerable<QLBanDienThoai.Models.NHASX>
@{
    int dem = 0;
}
@foreach (var item in Model)
{
    if (dem == 0)
    {
        <li class="active"><a data-toggle="tab active" href="@Url.Action("SptheoHang","Shop", new { id = item.MaSX })">@item.TenSX</a></li>
        dem++;
    }
    else
    {
        <li><a data-toggle="tab active" href="@Url.Action("SptheoHang","Shop", new { id = item.MaSX })">@item.TenSX</a></li>
    }
}
